{% extends "base.html" %}
{% load static %}


{% block content %}

<h1>회원탈퇴👋</h1>
<form method="post" action="{% url 'users:unregister' pk=request.user.id %}">
    {% csrf_token %}
    <div class="input-group flex-nowrap" style="margin: 50px; width: 200px;">
        <input type="text" class="form-control" name="password_check" placeholder="비밀번호 확인" aria-label="password_check"
            aria-describedby="addon-wrapping">
    </div>
    <input type="submit" class="btn btn-primary" value="탈퇴하기" style="margin-left: 100px;">
</form>

{% endblock content %}