aioredis==1.3.1
allauth-socialaccount-provider-keycloak==0.1.2
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
backports.zoneinfo==0.2.1
black==23.3.0
certifi==2022.12.7
cffi==1.15.1
channels==3.0.4
channels-redis==4.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
constantly==15.1.0
cryptography==40.0.2
daphne==3.0.2
defusedxml==0.7.1
deprecation==2.1.0
Django==4.2.1
django-allauth==0.54.0
django-cors-headers==4.0.0
django-debug-toolbar==4.0.0
django-environ==0.10.0
django-feather==0.3.0
django-keycloak==0.1.1
django-mathfilters==1.0.0
ecdsa==0.18.0
hiredis==2.2.3
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
msgpack==1.0.5
mypy-extensions==1.0.0
mysql-connector-python==8.0.32
mysqlclient==2.1.1
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.7.0.72
packaging==23.0
pathspec==0.11.0
Pillow==9.4.0
platformdirs==3.1.1
protobuf==3.20.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.7.0
pyOpenSSL==23.1.1
python-jose==3.3.0
python-keycloak==2.16.3
python-keycloak-client==0.2.3
python3-openid==3.2.0
pytz==2023.3
redis==4.5.5
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rsa==4.9
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
Twisted==22.10.0
twisted-iocpsupport==1.0.3
txaio==23.1.1
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.15
wincertstore==0.2
xlwt==1.3.0
zope.interface==6.0
