{% extends "base.html" %}
{% load static %}


{% block content %}

<div style="display: flex; flex-direction: row;">
    <div>
        {% if post_list %}
        <ul>
            {% for post in post_list %}
            <div style="display: flex; flex-direction: row;">
                <div>
                    <li style="margin: 50px 0px;">
                        <b>user : </b><a href="{{ user.get_absolute_url }}">{{ post.user.nickname }} |</a>
                        <a href="{{ post.get_absolute_url }}"><b>title</b> : {{ post.title }}</a>
                        <div style="margin: 20px 5px;">
                            <img src="{% get_media_prefix %}{{ post.image }}" alt="" width="300" height="300">
                        </div>
                        <b>content</b> : {{ post.content }} <br>
                        <b>생성 날짜</b> : {{ post.created_at }} <br>
                        <b>수정 날짜</b> : {{ post.updated_at }}
                    </li>
                </div>
                <div style="margin-right: 10px;">
                    <a href="{% url 'posts:post_update' pk=post.id %}"><span>수정</span></a>
                </div>
                <div>
                    <form action="{% url 'posts:post_delete' pk=post.id %}" method="post">
                        {% csrf_token %}
                        <a href="{% url 'posts:post_delete' pk=post.id %}"><span>삭제</span></a>
                    </form>
                </div>
            </div>
            {% endfor %}
        </ul>
        {% else %}
        <p>❌게시글이 존재하지 않습니다❌</p>
        {% endif %}
        <div style="margin: 100px 150px;">
            <a href="{% url 'posts:post_upload' %}"><b>업로드하기</b></a>
        </div>
    </div>
    <div
        style="height: 300px; margin: 50px 50px; padding: 20px; border: solid rgb(231, 218, 103) 2px; border-radius: 20px;">
        {% for user in users_list %}
        <li style="margin-top: 10px;">
            <img src="{% get_media_prefix %}{{ user.profile_img }}" alt="" width="30" height="30">
            <a href="{{ user.get_absolute_url }}"><b>{{ user.nickname }}</b></a>
        </li>
        {% endfor %}
    </div>
</div>

{% endblock content %}