{% extends "base.html" %}
{% load static %}


{% block content %}

<h1>SEARCH RESULT🔎</h1>
<div style="display: flex; flex-direction: row;">
    <div>
        <div>
            <h3>#{{ query }} ({{ search_results.count }}) </h3>
        </div>
        <div>
            {% if search_results %}
            {% for post in search_results %}
            <li>
                <b>user</b> : {{ post.user }} |
                <a href="{{ post.get_absolute_url }}"><b>title</b> : {{ post.title }}</a> <br>
                <a href="{{ post.get_absolute_url }}"><img src="{% get_media_prefix %}{{ post.image }}" alt=""
                        width="300" height="300"></a> <br>
                <b>content</b> : {{ post.content }} <br>
                <b>생성 날짜</b> : {{ post.created_at }} <br>
                <b>수정 날짜</b> : {{ post.updated_at }}
            </li>
            {% endfor %}
            {% else %}
            <p>❌검색 결과가 존재하지 않습니다❌</p>
            {% endif %}
        </div>
    </div>
    <div style="margin-left: 300px;">
        {{ user.username }}님 환영합니다. <br>
        <a href="{% url 'users:signout' %}" style="font-size: 20px;">LOGOUT</a>
        <form method="get" action="{% url 'users:profile_update' pk=request.user.id%}">
            <button type="submit" class="btn btn-warning">프로필 수정</button>
        </form>
    </div>
</div>
{% endblock content %}