{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="form-floating mb-3">
    <input type="text" style="margin: 50px 50px; width: 500px;" class="form-control" id="room-name-input"
        placeholder="room name" required />
    <label for="floatingInput" style="margin-left: 50px; width: 500px;">입장을 원하시는 채팅방이 이름을 입력해주세요.</label>
    <button class="btn btn-outline-secondary" type="button" id="room-name-submit" value="Enter"
        style="margin-left: 250px;">입장하기</button>
</div>

{% endblock content %}


{% block script %}

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>

{% endblock script %}