{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>HOME🏠</h1>
    <h2>POST LIST</h2>
    {% if post_list %}
    <ul>
        {% for post in post_list %}
        <div style="display: flex; flex-direction: row;">
            <div>
                <li style="margin: 50px 0px;">
                    <a href="{{ post.get_absolute_url }}"><b>title</b> : {{ post.title }}</a>
                    <div style="margin: 20px 5px;">
                        <img src="{% get_media_prefix %}{{ post.image }}" alt="" width="300" height="300">
                        <!-- <p>{{ post.image | cut:'posts/' }}</p> -->
                    </div>
                    <b>content</b> : {{ post.content }} <br>
                    <b>생성 날짜</b> : {{ post.created_at }} <br>
                    <b>수정 날짜</b> : {{ post.updated_at }}
                </li>
            </div>
            <div style="margin-right: 10px;">
                
                <a href="{% url 'posts:post_update' pk=post.id %}"><span>수정</span></a>
            </div>
            <div>
                <form action="{% url 'posts:post_delete' pk=post.id %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'posts:post_delete' pk=post.id %}"><span>삭제</span></a>
                </form>
            </div>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>❌게시글이 존재하지 않습니다❌</p>
    {% endif %}
    <div style="margin: 100px 150px;">
        <a href="{% url 'posts:post_upload' %}"><b>업로드하기</b></a>
    </div>
</body>

</html>