{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>HOME🏠</h1>
    <h2>POST LIST</h2>
    {% if post_list %}
    <ul>
        {% for post in post_list %}
        <li>
            <a href="{{ post.get_absolute_url }}"><b>title</b> : {{ post.title }}</a>
            <div style="margin: 20px 5px;">
                <img src="{% get_media_prefix %}{{ post.image }}" alt="" width="300" height="300">
                <!-- <p>{{ post.image | cut:'posts/' }}</p> -->
            </div>
            <b>content</b> : {{ post.content }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>게시글이 존재하지 않습니다.</p>
    {% endif %}
</body>

</html>